@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Laurent Signorel</h3>

<address>
    68 Boulevard François GROSSO<br />
    06000 Nice - France<br />
    <abbr title="mobile">tél:</abbr>
    +33.760972790
</address>

<address>
    <a href="mailto:laurent.signorel@outlook.com">laurent.signorel@outlook.com</a><br />
</address>