@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Email Validation App</h1>
    <p class="lead">Application permettant la validation d'un email par critères définis au préalable.</p>
    @Html.ActionLink("Validation", "Index", "EmailValidation", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Vérification syntaxique</h2>
        <ul>
            <li>
                L'email à valider doit correspondre à la syntaxe suivante : <code>identifiant@domaine.extension</code>
            </li>
            <li>
                <code>[identifiant]</code> doit commencer par une lettre et contenir plus de lettres que de chiffres.
            </li>
            <li>
                <code>[domaine]</code> fait référence à un domaine avec un maximum de trois sous domaines.
            </li>
            <li>
                <code>[extension]</code> fait référence à l'extension du domaine (ex : .fr, .de, .mc...).
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Limitation aux pays limitrophes</h2>
        <p>
            Le domaine de l'email sera limité aux pays limitrophes de la france grace au service de géolocalisation fourni par <strong>Free IP Geolocation API</strong><br />
            <a class="btn btn-primary" href="https://freegeoip.app/">go to freegeoip</a>
        </p>
    </div>
</div>